.background{
	background: darkblue;
	/*padding-top: 1%; */
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.scoreBoard{
	/*border: solid orange 7px;*/
	height: 10vh;
	width: 100vw;
	display: flex;
	justify-content: space-between;
}
.player{
	background: purple;
	height: 100%;
	width: 25%;
	margin-left: 5%;
	margin-right: 5%;
	font-size: 40px;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 15px;
}
.goalBox{
	border-radius: 15px;
	background: orange;
	height: 100%;
	width: 25%;
	display: flex;]
	padding-top: 15%;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
.diceBox{
	background-color: gray;
	height: 250px;
	width: 250px;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap; 
}
.playerInfoBox{
	background-color: yellow;
	height: 400px;
	width: 200px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;

}
.die{
	background-color: white;
	height: 90px;
	width: 90px;
	border-radius: 5px;
	margin: 5%;
	font-size: 65px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.container{
	margin: 1%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.diceText{
	/*position: absolute;*/
	/*bottom: 10px;*/
}
.restartBox{
	display: flex;
	justify-content: space-around;
	width: 100vw;
}