.background {
	background-color: black;
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 10%;
}
.title{
	animation: colorFlip;
  animation-duration: 3s;
  animation-iteration-count: infinite;
	font-size: 100px;
}
.text{
	color:white;
	font-size: 35px;
	line-height: 1.5em;
}
.button{
	background-color: red;
	color:white;
	font-size: 20px;
}
@keyframes colorFlip {
  0% {
    color: red;
  }
  30% {
    color: yellow;
  }
  60% {
    color: blue;
  }
  90% {
    color: red;
  }
}